In [1]:
my_list = [2, 3, 6]
total = 1
for item in my_list:
    total *= item
print(total)

36

In [2]:
my_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(my_list, key=lambda x: x[-1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
combined_dict = {}
for key in d1.keys() | d2.keys():
    combined_dict[key] = d1.get(key, 0) + d2.get(key, 0)
print(combined_dict)

{'b': 400, 'a': 400, 'd': 400, 'c': 300}

In [4]:
n = 8
result_dict = {i: i*i for i in range(1, n+1)}
print(result_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:
my_list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_list = sorted(my_list, key=lambda x: float(x[1]), reverse=True)
print(sorted_list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [6]:
my_set = {0, 1, 2, 3, 4}
for item in my_set:
    print(item)

0
1
2
3
4